.board-section {
	font-size: 3rem;
	font-weight: 700;
	margin-left: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.board-container {
	width: 100%;
	min-height: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-grid {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	max-width: 100%; /* Ensures the container doesn't exceed the screen width */
	min-height: max-content;
	margin: 0 auto; /* Center the container horizontally */
	padding: 2rem; /* Add padding to create space between the container and screen edges */
	box-sizing: border-box; /* Include padding in the max-width calculation */
	justify-content: center;
}

@media (max-width: 768px) {
	.board-section {
		font-size: 1.5rem;
		margin-left: 1rem;
	}

	.board-container {
		padding-bottom: 10px;
	}

	.board-grid {
		padding: 0;
	}
}